.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalContent {
    padding: 40px;
    border-radius: 10px;
    position: relative;
    max-width: 418px;
    width: 100%;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.default{
    background-color: var(--background-color-4);
    color: var(--text-color-2);
}

.success {
    background-color: #e6ffed;
    color: #2c662d;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.info {
    background-color: #d1ecf1;
    color: #0c5460;
}
