.input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--text-color-4);
    background-color: transparent;
    font-size: 16px;
    transition: border-color 0.2s ease-in-out;
    color: var(--text-color-1);
}

.input:focus {
    border-color: var(--primary-color-1);
    outline: none;
}

.inputContainer {
    width: 100%;
}

.inputContainer textarea{
    border: 1px solid var(--text-color-4);
    border-radius: 8px;
    width: 100%;
    resize: vertical;
}
