.body{
    background-color: var(--background-color-2);
    overflow: hidden;
    box-sizing: border-box;
}

.defaultStyle{
    position: relative;
}

.flyingStyle {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.flyingStyle.left {
    left: 50px;
}

.flyingStyle.right {
    right: 50px;
}

.open {
    width: 250px;
}

.left {
    border-left: var(--background-color-1) 1px solid;
}

.right {
    border-right: var(--background-color-1) 1px solid;
}

.resizeHandle {
    position: absolute;
    top: 0;
    cursor: col-resize;
    width: 15px;
    height: 100%;
    z-index: 10;
    background: transparent;
}

.resizeHandleLeft {
    right: 0;
}

.resizeHandleRight {
    left: 0;
}
