.header{
    color: var(--text-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header div{
    display: flex;
}

.header h2{
    font-size: 40px;
    margin: 0 20px 0 0;
}

.header button img{
    width: 55%;
}
