@import "normalize.css";

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#root {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}
