.wrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--text-color-3);
    height: 100%;
}
