.gallery{
    display: grid;
    grid-gap: 20px;
    width: 100%;
    height: Min(100px, 0);
    overflow-y: scroll;
}

.small{
    grid-template-columns: repeat(1, 1fr);
}

.medium{
    grid-template-columns: repeat(2, 1fr);
}

.large{
    grid-template-columns: repeat(3, 1fr);
}

.gallery::-webkit-scrollbar {
    display: none;
}

